h1{
    /* color: #5ab0e6; */
    color: #000000;
    font-size: 45px;
    letter-spacing: 3px;
    font-family: 'Montserrat-Black';
    text-align: center;
}

body2{
    color: #000000;
    font-size: 22px;
    font-family: 'Montserrat-Black';
    letter-spacing: 3px;
    text-align: left;
}

body1{
    color: #000000;
    font-size: 20px;
    letter-spacing: 4px;
    line-height: 1.1;
    font-style: normal;
    font-stretch: semi-expanded;
    font-family: 'Times New Roman';
}

/* @media only screen and (max-width: 950px) {
    div.col-sm-3 {
      display: none;
    }
  } */

/* @media only screen and (max-width: 900px) {
   for mobile phones
    .container {
      width: 100%;
    }
  } */

.row::after {
    content: "";
    clear: both;
    display: table;
}

/* [class*="col-"] {
  border: 1px solid rgb(248, 188, 188);
} */