@font-face {
  font-family: 'montserratblack';
  src: url('./fonts/montserrat/montserrat-black-webfont.woff2') format('woff2'),
       url('./fonts/montserrat/montserrat-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cardoitalic';
  src: url('./fonts/cardo/cardo-italic-webfont.woff2') format('woff2'),
       url('./fonts/cardo/cardo-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'cardoregular';
  src: url('./fonts/cardo/cardo-regular-webfont.woff2') format('woff2'),
       url('./fonts/cardo/cardo-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

h1{
    color: #000000;
    letter-spacing: 1px;
    font-family: 'montserratblack';
    text-align: center;
}

h2{
  color: #000000;
  letter-spacing: 1px;
  font-family: 'montserratblack';
  text-align: center;
  font-variant: normal
}

p{
    color: #000000;
    font-family: 'cardoregular';
    font-style: inherit;
    font-size: 20px;
    line-height: 1.1;
    font-style: normal;
    font-stretch: semi-expanded;
    text-align: center;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/* [class*="col"] {
  border: 1px solid rgb(248, 188, 188);
} */

ul{
  width: 100%;
  padding-left: 0px;
}

li{
  position: relative;
  font-size: 21px;
  font-family: 'montserratblack';
  letter-spacing: 1px;
  text-align: center;
  display: block;
  width: 25%;
  float: left;
}

@media (max-width: 960px) {
  li { width: 100%; } /* On small screens, show one logo per row */
}

#tabs .ui-tabs-active {
  font-style: italic;
}

#tabs ul li a{
  color: rgb(0, 0, 0);
  text-decoration: none;
}

#tabs ul li a:hover{
  color:#accfdc;
  text-decoration: none;
}

#tabs ul li a:selected {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

[id*="tabs-"], .container, #tabs {
  /* border: 1px solid rgb(248, 188, 188); */
  animation: fadeEffect 1s;
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

#socialmedia{
  width:40px;
  height:40px;
  border:0; 
  position: relative; 
  display: inline-block; 
  margin-left: 5px; 
  margin-right: 5px;
}

#socialmediadiv{
  text-align: center;
}


.carousel-item-image{
  width: 40%;
    height: 100%;
    order: 2;
    align-self: flex-end;
    flex-basis: 40%;
  
      -webkit-order: 2;
    -webkit-align-self: flex-end;
    -webkit-flex-basis: 40%;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   position:relative;
   margin: 0px;
   float:left;
}

.carousel-item-info{
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-flex-direction: column;
  
  order: 1;
  left: 0;
  margin: auto;
  padding: 0 40px;
  width: 60%;
  position: relative

}


.carousel {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 950px;
  max-height: 220px;   
  overflow: hidden;
position: relative;
margin: 0 25px
}


/* body {
  width: 1500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */


img.d-block{
  height: auto; 
  position: absolute; 
  top:0; 
  bottom:0; 
  padding-left: 80px;
  margin:auto;
}

.carousel-item-info{
  padding-right: 80px;
  margin-right: 0px;
}

.carousel-control-prev-icon{
  margin-left: -70px;
  filter: invert(100%);
}

.carousel-control-next-icon{
  margin-right: -70px;
  filter: invert(100%);
}
