<div class="container-fluid" style="background-color:rgb(244, 231, 229, 0.8); width: 85%; border-bottom: 5px solid white; border-left: 5px solid white; border-right: 5px solid white">
  <br>
  <div class="row justify-content-center">
        <div class="col-12" style="max-width:550px; text-align:center">
          <p>Hi, I’m Elaine! I am a first year computer science major at California 
              Polytechnic State University interested in front-end 
              web development. My side passions include photography, designing, 
              video editing, and making piano covers.</p>
          <p>Please email me if you would like a copy of my resume.</p>
        </div>
    </div>
    <br>
    <br>
</div>