<header>
  <div class="container">
      <br>
      <br>
      <div class="row justify-content-center"><div class="col-12"><h1><b>elaine sabine pranadjaya</b></h1></div></div>
      
      <div class="row justify-content-center">
          <div class="col-1" style="max-width:50px">
                  <a href="mailto:elainesabine@gmail.com" target="_blank">
                  <img src="./assets/graphics/email-icon.png" alt="Email" title="Email" style="width:40px;height:40px;border:0;">
                  </a>
          </div>

          <div class="col-1" style="max-width:50px">
              <a href="http://www.linkedin.com/in/elainesabine" target="_blank">
              <img src="./assets/linkedin-icon.png" alt="Linked In" title="Linked In" style="width:40px;height:40px;border:0;">
              </a>
          </div>

          <div class="col-1" style="max-width:50px">
                  <a href="https://devpost.com/elainesabine" target="_blank">
                  <img src="./assets/graphics/devpost-icon.png" alt="Devpost" title="Devpost" style="width:40px;height:40px;border:0;">
                  </a>
          </div>

          <div class="col-1" style="max-width:50px">
              <a href="http://www.github.com/elainesabine" target="_blank">
              <img src="./assets/graphics/github-icon.png" alt="Github" title="Github" style="width:40px;height:40px;border:0;">
              </a>
          </div>

          <div class="col-1" style="max-width:50px">
              <a href="http://www.instagram.com/elainesabine" target="_blank">
              <img src="./assets/graphics/instagram-icon.png" alt="Instagram" title="Instagram" style="width:40px;height:40px;border:0;">
              </a>
          </div>
      </div>
      <br>
      <br>
      <br>
  </div>
  <div class="container-fluid" style="background-color: rgb(244, 231, 229, 0.8); width: 85%; border-top: 5px solid white; border-left: 5px solid white; border-right: 5px solid white">
      <br>
      <div class="row justify-content-center">
            <div class="col-lg-3" style="text-align: center">
                <p><a routerLink="/about" routerLinkActive="active">about me</a></p>
            </div>
            <div class="col-lg-3" style="text-align: center">
                <p><a routerLink="/projects">projects</a></p>
            </div>
            <div class="col-lg-3" style="text-align: center">
                <p><a routerLink="/clubs">club involvement</a></p>
            </div>
            <div class="col-lg-3" style="text-align: center">
                <p><a routerLink="/skills">skill set</a></p>
            </div>
      </div>
    <!-- <a routerLink="/" class="logo">{{appTitle}}</a> -->
  <br>
  </div>
</header>

