/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'montserratblack';
    src: url('fonts/montserrat-black-webfont.woff2') format('woff2'),
         url('fonts/montserrat-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
h1{
    /* color: #5ab0e6; */
    color: #000000;
    font-size: 45px;
    letter-spacing: 3px;
    font-family: 'montserratblack';
    text-align: center;
}

/* @media only screen and (max-width: 950px) {
    div.col-sm-3 {
    display: none;
    }
} */

/* @media only screen and (max-width: 900px) {
    for mobile phones
    .container {
    width: 100%;
    }
} */

.row::after {
    content: "";
    clear: both;
    display: table;
}


/* [class*="col-"] {
border: 1px solid rgb(248, 188, 188);
} */


.container2 {
position: relative;
overflow-y: scroll;
background-color: #008CBA
}

.image {
display: block;
width: 100%;
height: auto;
}

.overlay {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
height: 100%;
width: 100%;
opacity: 0;
transition: .5s ease;
background-color: #008CBA;
}

.container2:hover .overlay {
opacity: 1;
}

.text {
color: white;
font-family: 'Times New Roman';
font-size: 16px;
position: absolute;
/* top: 50%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%); */
text-align: center;
}

a {
    color: rgb(96, 96, 96);
    text-decoration: none;
  }

active>a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a:active{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a:hover {
    color:#accfdc;
    text-decoration: none;
}